.component {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.wrapper {
  max-width: 680px;
  padding-right: 1em;
  padding-left: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.article {
  iframe {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  video {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1em;
  }

  ol {
    margin-left: 1em;
  }
}

.nav {
  a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }
  }
}
