.component {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  border-style: solid;
  border-width: 0;
  border-bottom-width: 0.08rem;
  border-color: black;

  &:last-child {
    border-bottom: none;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 100%;
  color: black;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;

  &Read {
    color: grey;
  }
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  height: 24px;
  padding-left: 0.5em;

  & > * {
    padding-left: 0.5em;
  }
}

.storyContent {
  margin-top: 0.5em;

  * {
    color: grey;
    max-width: 100%;
  }
}

.feedTitle {
  display: block;
  width: 100%;
  font-size: 0.8em;
  order: 2;
    color: grey;
}

@media only screen and (min-width: 800px) {
  .titleContainer {
    justify-content: inherit;
  }

  .link {
    order: 2;
    display: block;
  }

  .actions {
    padding-left: 0;
    padding-right: 0.5em;

    & > * {
      padding-left: 0;
      padding-right: 0.5em;
    }
  }

  .feedTitle {
    display: inline-block;
    overflow: hidden;
    padding-right: 1em;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    width: 10%;
    font-size: 1em;
  }
}
