.component {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
}

.button {
  margin-right: 1rem;
}

.bottomButton {
  width: 100%;
}

.noStoriesMessage {
  margin-top: 2em;
  margin-bottom: 2em;
}

.stories {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
