.component {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: black;

  &:last-child {
    border-bottom: none;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.link {
  display: block;
  color: black;
  text-decoration: none;

  &Read {
    color: grey;
  }
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  height: 24px;
  padding-left: 0.5em;

  & > * {
    padding-left: 0.5em;
  }
}

.storyContent {
  margin-top: 1em;

  * {
    color: grey;
    max-width: 100%;
  }
}
