.nav {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;
  }

  a,
  span {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }

    & > * {
      vertical-align: top;
      margin-right: 0.2em;
    }
  }

  .disabled {
    color: grey;
  }
}
