.nav {
  display: flex;
  background-color: white;

  @media only screen and (max-width: 800px) {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  ul {
    display: flex;
    list-style: none;
    width: 100%;

    @media only screen and (max-width: 800px) {
      padding-left: 5em;
      padding-right: 5em;
      justify-content: space-evenly;
    }
  }

  .rightSideItem {
    margin-left: auto;

    @media only screen and (max-width: 800px) {
      margin: 0;
    }
  }

  li > a,
  li > span {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }

    & > * {
      vertical-align: top;
      margin-right: 0.2em;
    }

    &:last-child {
      margin-left: auto;
    }

    @media only screen and (max-width: 800px) {
      padding: 0.3em 1em 0.1em 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > * {
        margin: 0;
      }
    }
  }

  .disabled {
    color: grey;
  }
}
