.component {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  background: white;
  border-width: 0.08rem;
  border-color: black;
  border-style: solid;

  &:focus {
    border-color: rgb(77, 144, 254);
    outline: none;
  }

  &:active {
    color: grey;
    border-color: grey;
  }

  &Loading {
    color: white;
  }
}

.loadingIndicator {
  position: absolute;
}
