.component {
  margin-right: 1em;
  margin-left: 1em;
}

.lists {
  list-style: none;
}

.list {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  & h2 {
    color: black;
    font-size: 1.5em;
  }

  & h3 {
    color: black;
    font-size: 1.2em;
  }

  & a {
    text-decoration: none;
  }
}
